<section class="home-section">
    <div class="home-container">
        <div class="curosal-container">
            <div class="title-container">
                <h1 class="title">Game Name</h1>
            </div>
            <div class="details-container">
                <div class="tags-container">
                    <h3>#Tags</h3>
                    <h3>#Tags</h3>
                </div>
                <div>
                    <h3>Game story</h3>
                </div>
                <div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia cum ratione nihil dicta
                        consectetur eius,
                        ullam praesentium et ipsa aliquam voluptas ab pariatur sequi in magni voluptatibus quidem
                        voluptatum dignissimos?
                    </p>
                </div>
            </div>
            <div class="btn-container">
                <button class="play-btn">Play</button>
                <button class="details-btn">Details</button>
            </div>
        </div>
    </div>
</section>