<div class="container">
    <div class="background"></div>
    <div class="content">
        <div class="poster-section">
            <img src="https://e1.pxfuel.com/desktop-wallpaper/626/537/desktop-wallpaper-moviewall-apocalypto-thumbnail.jpg"
                alt="Game Poster" />
        </div>
        <div class="genre-section">
            <h2>Genres</h2>
            <ul>
                <li><a href="#">Action</a></li>
                <li><a href="#">Adventure</a></li>
                <li><a href="#">RPG</a></li>
                <li><a href="#">Strategy</a></li>
            </ul>
        </div>
    </div>
    <div class="heading-section">
        <h1>Corana Apocalypse</h1>
        <button>Play Now</button>
        <p>
            This is a brief description of the game. It provides some insights
            into the game storyline or features.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque
            expedita nesciunt nemo repellat exercitationem eos dolorum mollitia?
            Sed, ducimus nostrum nesciunt atque assumenda odio, velit error,
            dignissimos porro mollitia quam.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga
            molestiae maxime eum praesentium fugiat voluptates sit cumque, ea
            quidem dolorem nisi quasi ab dicta magni facilis alias assumenda
            labore dolorum.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae,
            id. Ipsa et ipsum porro molestiae iste molestias impedit. Eveniet
            atque aspernatur iste omnis dignissimos dolor officia voluptatem
            accusantium qui velit!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
            minus molestiae nihil, ipsa voluptatum corrupti ipsum a eius ea alias
            neque ex autem? Eum natus, optio quaerat assumenda magni veniam.
        </p>
    </div>
</div>
<div class="share">
   <a href="#">
    <h2>SHARE GAME</h2>
    <p>To Your Friends></p>
   </a>
</div>
<div class="details">
    <div>
        <h4><strong>Publisher</strong></h4>
        <p class="c-paragraph-4 zpt">Vercel</p>
    </div>
    <div>
        <h4><strong>Developer</strong></h4>
        <p class="c-paragraph-4 zpt">AGS</p>
    </div>
    <div>
        <h4><strong>Genre</strong></h4>
        <p class="c-paragraph-4 zpt">RPG</p>
    </div>
    <div>
        <h4><strong>Platforms</strong></h4>
        <p class="c-paragraph-4 zpt">Xbox Series&nbsp;X|S</p>
    </div>
    <div>
        <h4><strong>Release date</strong></h4>
        <p class="c-paragraph-4 zpt">21 March 2024</p>
    </div>
</div>
