body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  position: relative;
  width: 100%;
  height: 83vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://i.pinimg.com/originals/f0/15/9f/f0159f6d9d8383e8e9ee19189b4d2dfd.jpg") no-repeat center center/cover;
  filter: blur(8px);
  z-index: -1;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 10px;
}

.heading-section {
  background: rgba(255, 255, 255, 0.16);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 67vh;
  margin-right: 30px;
  margin-top: 30px;
}

.genre-section {
  background: rgba(255, 255, 255, 0.16);
  padding: 0 40px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  height: 30vh;
  h2 {
    padding: 10px 0;
  }
}

.content img {
  width: 200px;
  border-radius: 10px;
  height: 250px;
}

.heading-section h1 {
  margin: 0;
  font-size: 24px;
}

.heading-section button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px 0;
  background-color: rgb(17, 185, 8);
  border-radius: 100px;
}

.heading-section p {
  font-size: 16px;
  margin: 10px 0;
  color: azure;
}

.genre-section ul {
  padding: 0;
  line-height: 25px;
}

.genre-section ul li a {
  margin: 5px 0;
  font-size: 16px;
  color: azure;
}
li::marker {
  color: azure;
}
ul li a:hover {
  text-decoration: underline; /* Underline on hover */
}
.details {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 83px;
  color: white;
  font-size: 18px;
  justify-content: space-around;
  width: 70vw;
  right: 70px;
  p {
    font-size: 12px;
    padding-top: 5px;
  }
}
.share {
  width: max-content;
  position: absolute;
  bottom: 80px;
  left: 40px;
  border-left: 8px solid white;
  padding-left: 10px;
  a {
    color: white;
  }
}

.share:hover {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}