<div class="surface-section px-4 py-6 md:px-6 lg:px-8 text-center"><img src="assets/logo.png" alt="Image" height="50">
    <div class="font-medium text-900 mt-4 mb-3">© 2024 Avi-game-studio, Inc</div>
    <p class="text-600 line-height-3 mt-0 mb-4">
        ✨Why not reside in dreams 💭 instead of this unfortunate reality ☠️?
    </p>
    <div class="flex align-items-center justify-content-center">
        <a class="cursor-pointer text-700 mr-5" target="_blank"
            href="https://www.youtube.com/channel/UCU1m3pt7ZD-uIAFwg7KGr1A">
            <i class="pi pi-youtube"></i>
        </a>
        <a class="cursor-pointer text-700 mr-5" target="_blank" href="https://www.instagram.com/avigamestudio/">
            <i class="pi pi-instagram"></i>
        </a>
        <a class="cursor-pointer text-700" target="_blank" href="https://play.avigamestudio.com">
            <i class="pi pi-link"></i>
        </a>
    </div>
</div>