
<div class="card">
  <p-carousel
    [value]="products"
    [numVisible]="6" 
    [numScroll]="2" 
    [circular]="false" 
  >
    <ng-template let-product pTemplate="item">
      <!-- carousel slide -->
      <div class="carousel-container">
        <div class="carousel-img">
            <img src="https://img.zorores.com/_r/1366x768/100/46/d8/46d8e6d3fcd4a016ff5e90f0281eae76/46d8e6d3fcd4a016ff5e90f0281eae76.jpg" alt="">
            <div class="carousel-layer">
                <div class="layer"></div>
                <div class="gameTitle"><h2>{{product.GameName}}</h2></div>
                <div class="gameDetail"><p>{{product.GameDetails}}</p></div>
                <div class="carousel-bnt">
                    <button class="bntPlay">PLAY</button>
                    <button class="bntDetails">Details</button>
                </div>
        </div>

       

        </div>

 
      </div>
    </ng-template>
  </p-carousel>
</div>