.comment {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;

}

.actions {
  margin-top: 5px;
}

.actions button {
  margin-right: 10px;
  background-color: #53ff86;
  border-radius: 5px;
}
button{
  background-color: #53ff86;
  border-radius: 5px;
}
.reply-box {
  margin-top: 10px;
}

.replies {
  margin-left: 20px;
  margin-top: 10px;
}