body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #413a73;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  background-color: #655ab9;
  color: white;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 60px;
  box-sizing: border-box;
}
header .menu-icon {
  font-size: 24px;
}
header .logo img {
  width: 30px;
  height: 30px;
}
header .title {
  font-size: 24px;
  font-weight: bold;
}
.container {
  background-color: #413a73;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
}
.content {
  display: flex;
  flex: 1;
  gap: 10px;
}
.game-status {
  flex: 0.8; /* Reduced width */
  display: flex;
  flex-direction: column;
  border: 2px dotted #413a73;
  background-color: rgba(255, 255, 255, 0.462);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.game-status h2 {
  margin-top: 0;
  font-size: 18px;
}
.game-status .level-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  flex: 1;
}
.game-status .level-grid div {
  background-color: #53ff86;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.game-status .level-grid div.disabled {
  background-color: #aaa;
  cursor: not-allowed;
}
.game-area {
  flex: 2.5; /* Increased width */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px dotted #413a73; /* Dotted border */
  background-color: rgba(255, 255, 255, 0.462);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.game-area h2 {
  margin-top: 0;
  font-size: 18px;
}
.game-details {
  flex: 0.7;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.462);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.game-details img {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 10px;
}
.game-details .title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}
.game-details .buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.game-details .buttons button {
  background-color: #53ff86;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s;
}
.game-details .buttons button:hover {
  background-color: #45d96d;
}
.game-details p {
  margin-top: 10px;
  font-size: 14px;
}
.full-screen-button {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 50%;
}
.full-screen-button button {
  background-color: #53ff86;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.full-screen-button button:hover {
  background-color: #5f578c;
}
.details-container {
  display: flex;
  gap: 10px;
}
.comment-section {
  flex: 1.7; /* Increased width */
  background-color: rgba(255, 255, 255, 0.462);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.comment-section h2 {
  margin-top: 0;
  font-size: 18px;
}
.comments {
  /* Style for comments  */
}
.other-details {
  flex: 0.5; /* Reduced width */
  background-color: rgba(255, 255, 255, 0.462);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.other-details img {
  width: 40%;
  max-width: 200px;
  height: auto;
  border-radius: 10px;
}
.other-details .title {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}
