<div class="block-header">
    <span class="block-title">
        <div class="menu-icon">
            <i class="fa-solid fa-bars"></i>
        </div>
        <img src="assets/logo.png" alt="logo" width="35px" height="35px" />
        <span>AVI GAME STUDIO</span>
    </span>
    <div class="block-actions text-900">
        <p-inputGroup>
            <input type="text" pInputText placeholder="Keyword" />
            <button type="button" pButton label="Search" class="p-button-dark"></button>
        </p-inputGroup>
    </div>
    <div>
    <p-button label="Login" />
    </div>
</div>