* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.game-card {
  width: 98vw;
  background-color: #413a73;
  color: white;
}
.game_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.game-item {
  width: 190px;
  background: linear-gradient(to top, #000000 0, rgba(0, 0, 0, 0) 76%);
  position: relative;
  margin: 20px 5px;
}
.game-poster {
  width: 100%;
  height: 370px;
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.208);
}
.game-poster .tick {
  position: absolute;
  bottom: 3px;
  z-index: 10;
}
.game-poster-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
a {
  color: #fff;
  text-decoration: none !important;
  outline: 0;
}
h2{
    padding: 20px 0 0 20px;
    color: #53ff86;
}
h4{
    color: #53ff86;
  margin: 5px;
}
.desc {
  padding: 10px 5px;
}
.game-detail {
  position: absolute;
  bottom: 0;
  width: 90%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1.644),
    rgba(0, 0, 0, 0.163),
    rgba(0, 0, 0, 0)
  );
  z-index: 999;
  left: 10px;
}
.game-poster:after {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  bottom: -40%;
  z-index: 2;
}
.gradient-overlay-sidebar {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1.644) 15%,
    rgba(0, 0, 0, 0)
  );
  z-index: 99;
}
.icon{
    position: absolute;
    z-index: 999;
    bottom: 80px;
    left: 15px;
    i{
        padding-right: 5px;
    }
}