<div class="block-content">
    <div class="ng-star-inserted">
        <div class="grid grid-nogutter surface-section text-800">
            <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center">
                <section><span class="block text-6xl font-bold mb-1">{{companyName}}</span>
                    <div class="text-6xl text-primary font-bold mb-3">
                        {{slogan}}
                    </div>
                    <p class="mt-0 mb-4 text-700 line-height-3">
                        {{description}}
                    </p>
                    <button pbutton="" pripple="" label="Learn More" type="button"
                        class="p-element p-ripple mr-3 p-button-raised p-button p-component">
                        <span class="p-button-label">
                            {{buttons[0]}}
                        </span>
                    </button>
                    <button pbutton="" pripple="" label="Live Demo" type="button"
                        class="p-element p-ripple p-button-outlined p-button p-component">
                        <span class="p-button-label">
                            {{buttons[1]}}
                        </span>
                    </button>
                </section>
            </div>
            <div class="col-12 md:col-6 overflow-hidden"><img
                    src="https://avi-game-dev.vercel.app/images/new-assets/corona-game.jpg" alt="Image"
                    class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%);">
            </div>
        </div>
    </div>
</div>
<app-featured-articles></app-featured-articles>
<app-product-details></app-product-details>