<!-- all -->
<div class="trending-section-wrapper">
  <h2 class="section-header">{{ title }}</h2>
  <!-- outside -->
  <div class="swiper">
    <!-- inside -->
    <div class="swiper-wrapper">
      <!-- slide  -->
      <div class="trending-slide" *ngFor="let trending of trendings">
        <div class="trending-item-sidebar">
          <p class="f-poppins">{{ trending.game_name }}</p>
          <span>{{ trending.id }}</span>
        </div>
        <a href="#">
          <img src="{{ trending.imgURL }}" class="trending-slide-img" />
        </a>
      </div>
    </div>
    <div class="trending-swiper-navigation trans-c-03">
      <div class="btn-nextTwo swiper-controls">
        <i class="fa-solid fa-greater-than"></i>
      </div>
      <div
        class="btn-prevTwo swiper-controls"
      >
        <i class="fa-solid fa-less-than"></i>
      </div>
    </div>
  </div>
</div>
