<!-- all -->
<div class="trending-section-wrapper">
    <h2 class="section-header">Trending:</h2>
    <!-- outside -->
    <div class="swiper">
        <!-- inside -->
        <div class="swiper-wrapper">
            <!-- slide  -->
            <div class="trending-slide">
                <div class="trending-item-sidebar">
                <p class="f-poppins">Delicious in Du...</p>
                <span>03</span>
                </div>
                <a href="#">
                    <img src="https://i.pinimg.com/736x/65/92/39/6592392e1bbffb904ac76bd544dae3b8.jpg" class="trending-slide-img"/>
                </a>
            </div>
            <div class="trending-slide">
                <div class="trending-item-sidebar">
                <p class="f-poppins">Delicious in Du...</p>
                <span>03</span>
                </div>
                <a href="#">
                    <img src="./card img 1.jpeg" class="trending-slide-img"/>
                </a>
            </div>
            <div class="trending-slide">
                <div class="trending-item-sidebar">
                <p class="f-poppins">Delicious in Du...</p>
                <span>03</span>
                </div>
                <a href="#">
                    <img src="./card img 1.jpeg" class="trending-slide-img"/>
                </a>
            </div>
        </div>
    </div>
  </div>